.event-card-link {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
}
.event-card-link:hover {
    text-decoration: none;
    color: inherit;
}

.event-card {
    border: 1px solid #E5E7EB; 
    box-shadow: none; 
    border-radius: 16px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    height: 100%;
}

.event-card:hover {
    transform: translateY(-8px);
    border-color: transparent; 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); 
}

.event-card:hover .event-card-img {
    transform: scale(1.05);
}

.event-card-img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.event-card .card-title-custom {
    color: #1F2937; 
    line-height: 1.4;
    height: calc(1.4em * 2);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

.event-card .card-summary-custom {
    color: #4B5568; 
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
}