
.admin-layout {
  display: flex;
  background-color: #f4f5f7; 
}

.admin-main-content {
  flex-grow: 1;
 
  margin-left: 260px; 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.admin-page-content {
  padding: 2rem;
  flex-grow: 1;
}